{% extends "base.html" %}
{% block title %}Sources{% endblock %}

{% block si_content %}
<h1>Sources</h1>
<table class="table">
  <thead>
    <tr>
      <th>Source Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for source in sources %}
<tr>
  <td>{{source.name}}</td>
  {% if source.source_type.name == 'google analytics' %}
  {%   set view = 'ga_source' %}
  {% elif source.source_type.name == 'database' %}
  {%   set view = 'database_source' %}
  {% endif %}
  <td><a href="{{url_for(view, source_id=source.id)}}">edit</a></td>
</tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
